#content
	.row
		%div{ :class => "span15 offset1" }
			%ul{ :class => "media-grid grid", :id => "artists" }
				- @artists.each do |artist, image|
					%li
						%a{ :class => "thumbnail artist", :href => "/artist/#{uri_encode(artist)}" }
							%img{ :src => image, :alt => "#{artist}" }
							=artist
	.row
		.span16
			- if @page != 1
				%a{ :class => "prev-page pull-left btn", :'data-page' => "#{@page - 1}", :href => "#" } &laquo; Previous
			- if @total > @page * @per_page
				%a{ :class => "next-page pull-right btn", :'data-page' => "#{@page + 1}", :href => "#" } Next &raquo;