@import "bootstrap";
@import "qq.upload";
@import "jackedup";

.clear {
	&:after {
		clear: both;
		display: block;
		height: 0;
		visibility: hidden;
		*zoom: 1;
	}
}
.center {
	text-align: center;
}

body {
	padding-top: 40px;
	background-color: #eee;
}
.content {
	background-color: #fff;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	margin: 0 -20px;
	padding: 20px;
	.row .list {
		border-left: 1px solid #eee;
		margin-left: 0;
		padding-left: 19px;
		&:first-child {
			border-left: none;
			margin-left: 20px;
			padding-left: 0;
		}
	}
}
.page-header {
	background-color: #f5f5f5;
	margin: -20px -20px 20px;
	padding: 20px 20px 10px;
}

/* Browse */
.artist, .album, .song {
	cursor: pointer;
}

/* Queue */
.paused, .now-playing {
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin-bottom: 15px;
	padding-bottom: 15px;
	h2, p {
		margin-bottom: 5px;
	}
	h2 {
		text-align: center;
	}
	h3 {
		line-height: 18px;
		margin-bottom: 10px;
	}
}
.paused {
	p {
		text-align: center;
	}
}
.now-playing {
	img {
		border: 1px solid #eee;
		box-shadow: 0 0 5px #000;
		margin: 0 0 10px 20px;
	}
}
.song-box {
	height: 220px;
	margin-bottom: 10px;
	h3 {
		line-height: 18px;
		margin-bottom: 10px;
		margin-left: 20px;
	}
	img {
		border: 1px solid #eee;
		box-shadow: 0 0 5px #000;
		margin: 0 0 10px 20px;
	}
}

/* List */
.grid {
	text-align: center;
	overflow: hidden;
	a.album {
		width: 174px;
		img {
			height: 174px;
		}
	}
	a.artist {
		width: 126px;
	}
	a.user {
		width: 64px;
	}
}

/* Volume Slider */
#slider {
	background-color: #fff;
	border-radius: 2px;
	height: 5px;
	margin: 5px;
	width: 150px;
}
#knob {
	background-color: #999;
	border-radius: 10px;
	cursor: pointer;
	height: 20px;
	position: relative;
	top: -7px;
	width: 20px;
}