@import "bootstrap";
@import "jackedup";

.clear {
	&:after {
		clear: both;
		display: block;
		height: 0;
		visibility: hidden;
		*zoom: 1;
	}
}
.center {
	text-align: center;
}

body {
	padding-top: 40px;
	background-color: #eee;
}
.content {
	background-color: #fff;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	margin: 0 -20px;
	padding: 20px;
	.row .list {
		border-left: 1px solid #eee;
		margin-left: 0;
		padding-left: 19px;
		&:first-child {
			border-left: none;
			margin-left: 20px;
			padding-left: 0;
		}
	}
}
.page-header {
	background-color: #f5f5f5;
	margin: -20px -20px 20px;
	padding: 20px 20px 10px;
}

/* Browse */
.artist, .album, .song {
	cursor: pointer;
}

/* Queue */
.queue {
	border-radius: 3px;
	margin-bottom: 10px;
	h3 {
		margin-left: 20px;
	}
	img {
		border: 1px solid #eee;
		box-shadow: 0 0 5px #000;
		margin: 0 0 10px 20px;
	}
}
.paused, .now-playing {
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin-bottom: 30px;
	h2, p {
		margin-bottom: 5px;
	}
	h2 {
		text-align: center;
	}
}
.paused {
	p {
		text-align: center;
	}
}
.now-playing {
	img {
		border: 1px solid #eee;
		box-shadow: 0 0 5px #000;
		margin: 0 0 10px 20px;
	}
}

/*
.now-playing, .search {
	border: 1px solid #000;
	border-radius: 3px;
	margin-bottom: 10px;
}
.search {
	margin-left: 20px;
}
.now-playing img, .search img {
	border: 1px solid #eee;
	box-shadow: 0 0 5px #000;
	margin: 0 0 10px 20px;
}
.now-playing {
	box-shadow: 0 0 10px #000;
	margin-bottom: 15px;
}
.now-playing h3 {
	margin-top: -14px;
}
*/

/* Search */
.search {
	border: none;
	border-radius: 0;
}
.search h3 a {
	color: #404040;
}
.search h3 small a {
	color: #BFBFBF;
}

/* List */
.grid {
	text-align: center;
	overflow: hidden;
	a.album {
		width: 174px;
		img {
			height: 174px;
		}
	}
	a.artist {
		width: 126px;
	}
	a.user {
		width: 64px;
	}
}

/* Volume Slider */
#slider {
	background-color: #fff;
	border-radius: 2px;
	height: 5px;
	margin: 5px;
	width: 150px;
}
#knob {
	background-color: #999;
	border-radius: 10px;
	cursor: pointer;
	height: 20px;
	position: relative;
	top: -7px;
	width: 20px;
}

/* Uploader */
.qq-uploader {
	margin-bottom: 30px;
	position: relative;
	width: 100%;
}
.qq-upload-button {
	background: #999;
	border-bottom: 1px solid #ddd;
	color: #fff;
	display: block;
	padding: 7px 0;
	text-align: center;
	width: 105px;
}
.qq-upload-button-hover {
	background: #000;
}
.qq-upload-button-focus {
	outline: 1px dotted black;
}
.qq-upload-drop-area {
	background: #999;
	color: #fff;
	height: 100%;
	left: 0;
	min-height: 70px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 2;
}
.qq-upload-drop-area span {
	display: block;
	font-size: 16px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 100%;
}
.qq-upload-drop-area-active {
	background: #000;
}
.qq-upload-list {
	list-style: disc;
	margin: 15px 35px;
	padding: 0;
}
.qq-upload-list li {
	font-size: 12px;
	line-height: 15px;
	margin: 0;
	padding: 0;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
	margin-right: 7px;
}
.qq-upload-spinner {
	background: url("images/loading.gif");
	display: inline-block;
	height: 15px;
	vertical-align: text-bottom;
	width: 15px;
}
.qq-upload-size,.qq-upload-cancel {
	font-size: 11px;
}
.qq-upload-failed-text {
	display: none;
}
.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}