body {
	padding-top: 40px;
	background-color: #eee;
}
.content {
	background-color: #fff;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	margin: 0 -20px;
	padding: 20px;
}
.page-header {
	background-color: #f5f5f5;
	margin: -20px -20px 20px;
	padding: 20px 20px 10px;
}
.content .row div {
	border-left: 1px solid #eee;
	margin-left: 0px;
	padding-left: 19px;
}
.content .row div:first-child {
	border-left: none;
	margin-left: 20px;
	padding-left: 0;
}

/* Uploader */
.qq-uploader {
	margin-bottom: 30px;
	position: relative;
	width: 100%;
}
.qq-upload-button {
	background: #999;
	border-bottom: 1px solid #ddd;
	color: #fff;
	display: block;
	padding: 7px 0;
	text-align: center;
	width: 105px;
}
.qq-upload-button-hover {
	background: #000;
}
.qq-upload-button-focus {
	outline: 1px dotted black;
}
.qq-upload-drop-area {
	background: #999;
	color: #fff;
	height: 100%;
	left: 0;
	min-height: 70px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 2;
}
.qq-upload-drop-area span {
	display: block;
	font-size: 16px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 100%;
}
.qq-upload-drop-area-active {
	background: #000;
}
.qq-upload-list {
	list-style: disc;
	margin: 15px 35px;
	padding: 0;
}
.qq-upload-list li {
	font-size: 12px;
	line-height: 15px;
	margin: 0;
	padding: 0;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
	margin-right: 7px;
}
.qq-upload-spinner {
	background: url("../images/loading.gif");
	display: inline-block;
	height: 15px;
	vertical-align: text-bottom;
	width: 15px;
}
.qq-upload-size,.qq-upload-cancel {
	font-size: 11px;
}
.qq-upload-failed-text {
	display: none;
}
.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}